.chamadaFinal {
    margin: 0 20vw 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    height: 308px;

    background-image: url('~/public/images/bg.png');
    border-radius: 8px;
}
