.secondaryButton {
    padding: 16px 32px;
    border: none;
    background-color: var(--primaryDark);
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    color: var(--white);
    transition: 0.5s;
    font-weight: bold;
}
.secondaryButton:hover {
    opacity: 0.8;
}