.CTA {
    padding: 128px 20vw 128px 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titleCta {
    margin: 0;
}
.containerCta {
    margin-left: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleCta span {
    color: var(--tertiary);
}
.containerCta button {
    margin-top: 24px;
}
.imgCta {
    width: 400px;
}
@media (max-width: 820px){
    .CTA {
        padding: 64px 0 128px 0;
        grid-template-columns: 1fr;
    }
    .imgCta {
        width: 300px;
        margin: 0 auto;
    }
    .titleCta {
        text-align: center;
    }
    .containerCta {
        margin: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}