.cursos h1{
    text-align: center;
}

.listCursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
.cursos {
    margin: 64px 20vw 128px;
}

@media screen and (max-width: 1000px) {
    .listCursos {
        grid-template-columns: repeat(2, 1fr);
    }
}
