.cursos h1{
    text-align: center;
}
.coursesContainer {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #121018;
    padding: 29px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color, border .5s;
    transition: box-shadow .25s;
    border: 3px solid #121018;
}
.coursesContainer:hover{
    cursor: pointer;
    background-color: #1210189f;
    border-color: var(--primary);
    box-shadow: 0px 10px 15px -3px #6551a542;
}
.coursesContainer span.titleCourse{
    font-weight: bold;
    margin-bottom: 16px;

}
.coursesContainer span.description{
    text-align: justify;
}
.listCursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
.cursos {
    margin: 64px 20vw 128px;
}
.coursesContainer img {
    width: 100%;
    margin-bottom: 16px;
}
@media screen and (max-width: 1000px) {
    .listCursos {
        grid-template-columns: repeat(2, 1fr);
    }
}
