.curso video {
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
}
.curso {
    margin: 32px 20vw;
}
.curso span.category a {
    color: var(--secondaryLight);
    font-weight: bold;
    text-decoration: none;
}

.learn {
    padding: 32px;
    border-radius: 8px;
    border: none;
    background-color: #121018;
}

.videos .link {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}
.videos ul li {
    list-style-type: none;
    margin-bottom: 8px;
}
ul li {
    margin-bottom: 8px;
}
