.register {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register h1 {
    margin-top: 10vh;
    margin-bottom: 32px;
    font-size: 3rem;
}
form {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 500px;
}
.register + .footer {
    display: none !important;
}
.formCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.formCadastro button{
    margin-bottom: 64px;
}
.formCadastro h1{
    margin: 64px 0 32px 0;
}
input[type="file"], input[type="file"]:focus{
    border: none;
    background: none;
    cursor: pointer;
}   